# npm
node_modules/

# antlr
antlr/

# qlty
.qlty/

# codex
.codex/

# github
.github/

# vscode
.vscode/
.vscode-test/
*.code-workspace
.vscodeignore

# source code
src/

# SDD
docs/
.agent.md
AGENTS.md
PLANS.md

# others
report/
sample/
.browserslistrc
eslint.config.mjs
.gitattributes
.gitignore
.ncurc.json
tsconfig.json
tsconfig.test.json
webpack.config.js
pnpm-lock.yaml
*.log
*.tmp
*.map
global.d.ts
secrets.json
.env
