# npm
node_modules/

# antlr
antlr/

# qlty
.qlty/

# code climate
.codeclimate.yml

# vscode
.vscode/
.vscode-test/
*.code-workspace
.vscodeignore

# source code
src/

# others
report/
sample/
.browserslistrc
.eslintrc.js
.gitattributes
.gitignore
.ncurc.json
tsconfig.json
webpack.config.js
*.log
*.tmp
*.map
global.d.ts
secrets.json
.env
